@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
  --brand-pink: #46daff;
  --brand-purple: #7300f3;
  --brand-violet: #b900ff;
  --brand-cyan: #00ffff;

  --brand-blue-light: #316aea;
  --brand-blue-dark: #00205c;
  --brand-blue-darker: #040050;
  --brand-green-light: #87c300;
  --brand-green: #00b96e;
  --brand-green-dark: #108a43;
  --brand-white: #ffffff;
  --brand-grey-white: #f9f9f9;
  --brand-greyish: #d8d8d8;

  --brand-black: #000046;

  --color-primary: var(--brand-blue-dark);

  --color-menu-active: var(--brand-blue-light);
  --font-color-menu: var(--brand-blue-dark);
  --border-color-menu: var(--brand-blue-dark);
  --border-radius-menu: 5px;
  --border-size-menu-button: 2px;
  --border-size-menu-icon: 0px;
  --icon-fill: var(--brand-blue-dark);
  --icon-fill-inverted: var(--brand-white);

  --brand-gradient: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--brand-pink)
  );
  --gradient-pink-violet: linear-gradient(
    to right bottom,
    var(--brand-pink),
    var(--brand-violet)
  );
  --gradient-violet-purple: linear-gradient(
    to right bottom,
    var(--brand-violet),
    var(--brand-purple)
  );

  --gradient-purple-cyan: linear-gradient(
    to right top,
    var(--brand-purple),
    var(--brand-cyan)
  );

  -brand-grey-darker: #0f183f;
  --brand-grey-dark: #0c1b5a;
  --brand-grey: #6c7393;
  --brand-grey-light: #c6ceef;
  --brand-grey-lighter: #d4d4e2;
  --brand-grey-dimmed: #f1f3f8;

  --font-family-base: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif;
  --font-family-heading: 'Poppins', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Helvetica, Arial, sans-serif;

  --font-weight-base: 400;
  --font-weight-bold: 500;
}
