.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media {
  height: 30rem;
  width: 100%;
}

.media img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.header {
  margin-top: var(--spacer);
}

.section {
  margin: var(--spacer) 0;
}

.heroWrapper {
  width: 100%;
  margin: var(--spacer) 0;
  padding: var(--spacer) 0;
  background-color: var(--color-primary);
  color: var(--font-color-text-inverted);
}

.heroHeader {
  margin-bottom: var(--spacer);
}

.heroContainer ul {
  margin-bottom: calc(var(--spacer) / 8);
}

@media screen and (min-width: 55rem) {
  .media {
    display: none;
  }
}
