.filterList,
div.filterList {
  white-space: normal;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.separator {
  width: calc(var(--spacer) / 2);
}

.filter {
  display: inline-block;
}

.filter,
button.filter,
.filter:hover,
.filter:active,
.filter:focus {
  border: var(--border-filter);
  border-radius: var(--border-radius-filter);
  margin-right: calc(var(--spacer) / 6);
  margin-bottom: calc(var(--spacer) / 6);
  color: var(--font-color-text-filter);

  /* the only thing not possible to overwrite button style="text" with more specifity of selectors, so sledgehammer */
  padding: calc(var(--spacer) / 4) !important;
}

.filter:hover {
  color: var(--font-color-text-selected-filter);
  background: var(--background-selected-filter);
  transform: none;
}

.filter.selected {
  color: var(--font-color-text-selected-filter);
  background: var(--background-selected-filter);
}

.filter.selected::after {
  content: '✕';
  margin-left: calc(var(--spacer) / 6);
  color: var(--font-color-text-selected-filter);
}

.showClear:hover {
  display: inline-flex;
  color: var(--color-primary);
}
.showClear {
  display: inline-flex;
  text-transform: capitalize;
  color: var(--color-secondary);
  font-weight: var(--font-weight-base);
  margin-left: calc(var(--spacer) / 6);
}

.hideClear {
  display: none !important;
}
