.filterList {
  display: flex;
  gap: calc(var(--spacer) / 2) var(--spacer);
  flex-wrap: wrap;
}

.filterAccess,
.filterType {
  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, 1fr));
  gap: calc(var(--spacer) / 4);
}

.separator {
  display: none;
}

.filter {
  display: inline-block;
}

.filter,
button.filter,
.filter:hover,
.filter:active,
.filter:focus {
  border: var(--border-filter);
  border-radius: var(--border-radius-filter);
  color: var(--font-color-text-filter);
  min-width: 8rem;

  /* the only thing not possible to overwrite button style="text" with more specificity of selectors, so sledgehammer */
  padding: calc(var(--spacer) / 4) !important;
}

.filter:hover {
  color: var(--font-color-text-selected-filter);
  background: var(--background-selected-filter);
  transform: none;
}

.filter.selected {
  color: var(--font-color-text-selected-filter);
  background: var(--background-selected-filter);
}

.filter.selected::after {
  content: '✕';
  margin-left: calc(var(--spacer) / 6);
  color: var(--font-color-text-selected-filter);
}

.showClear:hover {
  display: inline-flex;
  color: var(--color-primary);
}
.showClear {
  display: inline-flex;
  text-transform: capitalize;
  color: var(--color-secondary);
  font-weight: var(--font-weight-base);
  margin-left: calc(var(--spacer) / 6);
}

.hideClear {
  display: none !important;
}
