.teaser {
  max-width: 40rem;
  height: 100%;
}

.link {
  composes: box from '../atoms/Box.module.css';
  font-size: var(--font-size-small);
  height: 100%;
  color: var(--font-text-color-teaser);
  border: var(--border-teaser);
  border-radius: var(--border-radius-teaser);
  box-shadow: none;
  position: relative;
  /* for sticking footer to bottom */
  display: flex;
  flex-direction: column;
}

.algorithm .link {
  background-color: var(--background-body);
}

.content {
  margin-top: calc(var(--spacer) / 2);
  overflow-wrap: break-word;
  hyphens: auto;
  /* for sticking footer to bottom */
  flex: 1;
}

.content p {
  margin-bottom: calc(var(--spacer) / 4);
}

.title {
  font-size: var(--font-size-large);
  margin: 0;
  padding-bottom: calc(var(--spacer) / 6);
  overflow-wrap: break-word;
}

.publisher {
  display: block;
}

.foot {
  margin-top: calc(var(--spacer) / 4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: calc(var(--spacer) / 2);
}

.foot p {
  margin: 0;
}

.external {
  display: inline-block;
  height: var(--font-size-mini);
  margin-right: calc(var(--spacer) / 8);
  fill: var(--font-color-text);
}

.symbol {
  display: block;
}

.typeDetails {
  position: absolute;
  top: calc(var(--spacer) / 3);
  right: calc(var(--spacer) / 3);
  width: auto;
  font-size: var(--font-size-mini);
  border-radius: var(--border-radius-teaser);
  padding: 5px;
}

.typeDetails.dataset {
  background-color: var(--dataset-label-background);
  color: var(--dataset-label-font-color);
}

.typeDetails.dataset * {
  border-color: var(--dataset-label-font-color);
}

.typeDetails.algo {
  background-color: var(--algo-label-background);
  color: var(--algo-label-font-color);
  border-color: var(--algo-label-font-color);
}

.typeDetails.algo * {
  border-color: var(--algo-label-font-color);
}

.network span {
  font-size: var(--font-size-mini);
  color: var(--font-text-color-teaser);
}
