.container {
  display: flex;
  flex-direction: column;
}

.teaser p {
  margin-bottom: calc(var(--spacer) * 1.5);
}

.secondarySection {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) * 2);
}

.points {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) / 2);
}

.points span {
  display: flex;
  gap: calc(var(--spacer) / 2);
  justify-content: flex-start;
}

.checkmark,
.eye {
  margin: 0;
}

.checkmark {
  fill: var(--brand-green);
}

.eye {
  width: 2rem;
  stroke: var(--brand-green);
}

.pointText {
  font-weight: var(--font-weight-bold);
}

.pointText p,
.heading h3 {
  margin-bottom: 0;
}

.heading {
  display: flex;
  gap: calc(var(--spacer) / 4);
  margin-bottom: calc(var(--spacer) / 2);
}

.onboarding {
  padding: var(--spacer);
  background-color: var(--background-fill-light);
}

@media screen and (min-width: 40rem) {
  .container {
    flex-direction: row;
    gap: calc(var(--spacer) * 3);
  }
  .teaser {
    width: 60%;
  }
  .secondarySection {
    width: 40%;
  }
}
