.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--spacer);
  width: 100%;
  padding: var(--spacer) 0;
}

.logo {
  margin: 0;
  height: 5rem;
  object-fit: contain;
}
